.menu-item {
	position: relative;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  line-height: 1.5;
  color: #979e9d;
  font-size: .875rem;
}
.menu-item:focus,
.menu-item:hover {
  color: #0e0f0f;
}
.menu-item:focus {
	outline: 0 !important;
}
.menu-item-icon,
.menu-item-ribbon{
	position: relative;
	z-index: 10;
	opacity: 1;
}
.menu-item.is-active .menu-item-icon,
.menu-item.is-active .menu-item-ribbon,
.menu-item:hover .menu-item-icon,
.menu-item:hover .menu-item-ribbon,
.menu-item:focus .menu-item-icon,
.menu-item:focus .menu-item-ribbon{
	color: #f9a03f;
}
.menu-item:before {
	content: ' ';
	z-index: 1;
	position: absolute;
	width: 70px;
	height: 70px;
	top: 28px;
	left: 50%;
	margin-left: -35px;
	background-color: #ff145d;
	border-radius: 100%;
	transition: 200ms;
	transform: scale(0, 0);
}
.menu-item.is-active:before,
.menu-item:hover:before,
.menu-item:focus:before {
	transform: scale(1, 1);
}
.menu-item-icon {
  font-size: 1.25rem; /* xl */
  color: #ff145d; /* tertiary */
}
.menu-item-name {
	position: relative;
	padding: 2px 6px;
	border-radius: 2px;
	background-color: transparent;
}
.menu-item-name {
	position: relative;
	z-index: 10;
}
.menu-item.is-active .menu-item-name,
.menu-item:hover .menu-item-name,
.menu-item:focus .menu-item-name {
	background-color: #1f1f1f;
	color: #fff;
}
.menu-item.is-active .menu-item-ribbon:before,
.menu-item:hover .menu-item-ribbon:before,
.menu-item:focus .menu-item-ribbon:before {
	content: "";
	z-index: 1;
	position: absolute;
	left: -16px;
	top: -4px;
	border-right: 12px solid #4f4f4f;
	border-left: 12px solid transparent;
	border-top: 10px solid #4f4f4f;
	border-bottom: 10px solid #4f4f4f;
	border-radius: 2px;
}
.menu-item.is-active .menu-item-ribbon:after,
.menu-item:hover .menu-item-ribbon:after,
.menu-item:focus .menu-item-ribbon:after {
	content: "";
	z-index: 1;
	position: absolute;
	right: -16px;
	top: -4px;
	border-left: 12px solid #4f4f4f;
	border-right: 12px solid transparent;
	border-top: 10px solid #4f4f4f;
	border-bottom: 10px solid #4f4f4f;
	border-radius: 2px;
}
