		<button class="menu-item u-w-1/5"
            routerLink="/calendar"
            routerLinkActive="is-active">
			<span class="menu-item-icon"><i class="icon icon--th"></i></span><br />
			<span class="menu-item-ribbon">
        <span class="menu-item-name" i18n="The global name for calendar view@@calendarView">Calendrier</span>
      </span>
		</button>
		<button class="menu-item u-w-1/5">
			<span class="menu-item-icon"><i class="icon icon--search"></i></span><br />
			<span class="menu-item-ribbon">
        <span class="menu-item-name" i18n="The global name for search view@@searchView">Recherche</span>
      </span>
		</button>
		<h1 class="u-w-1/5">
			<span class="u-inline-block u-py-1 u-px-4">
				<img src="assets/logo.png" alt="Daywriting" class="u-h-32" />
			</span>
		</h1>
		<button class="menu-item u-w-1/5">
			<span class="menu-item-icon"><i class="icon icon--bell"></i></span><br />
			<span class="menu-item-ribbon">
        <span class="menu-item-name" i18n="The global name for notification view@@notificationView">Notifications</span>
      </span>
		</button>
		<button class="menu-item u-w-1/5"
            *ngIf="!authenticated"
            (click)="signIn()">
			<span class="menu-item-icon"><i class="icon icon--user"></i></span><br />
			<span class="menu-item-ribbon">
        <span class="menu-item-name" i18n="The action to login@@loginAction">Connexion</span>
      </span>
		</button>
		<button class="menu-item u-w-1/5"
            *ngIf="authenticated"
            (click)="signOut()">
			<span class="menu-item-icon"><i class="icon icon--user"></i></span><br />
			<span class="menu-item-ribbon">
        <span class="menu-item-name" i18n="The action to logout@@logoutAction">Deconnexion</span>
      </span>
		</button>
