<div id="calendar-writer"
     class="u-absolute u-pin-t u-w-full u-z-50"
     style="transform-origin: 50% 10%;opacity: 0;transform: scale(0, 0) translateY(-100px)"
     *ngIf="(currentChallenge$ | async)"
     [@writerAnim]="(currentChallenge$ | async)">

  <dw-writer [challenge]="(currentChallenge$ | async)"></dw-writer>

  <!--<h4 class="u-text-center u-pt-8" i18n="Message to introduce related writings@relatedWritingsMain">Ils ont également écrit sur ce thème</h4>-->

  <!--<div class="layout&#45;&#45;grid u-container u-mx-auto">-->
  <!--<dw-writing-preview class="u-w-1/4 u-p-4"></dw-writing-preview>-->
  <!--<dw-writing-preview class="u-w-1/4 u-p-4"></dw-writing-preview>-->
  <!--<dw-writing-preview class="u-w-1/4 u-p-4"></dw-writing-preview>-->
  <!--<dw-writing-preview class="u-w-1/4 u-p-4"></dw-writing-preview>-->
  <!--</div>-->
</div>

<div class="calendar u-container u-mx-auto u-py-8 u-px-16"
     [@calendarAnim]="!(currentChallenge$ | async)">
  <div class="u-p-2" *ngFor="let day of (challenges$ | async | calendarize:(monthkey$|async))">
    <div class="card card--day u-px-4 u-pt-2 u-pb-4 u-h-40 u-overflow-hidden"
         *ngIf="day && day.datekey"
         routerLink="/write/{{ day.datekey }}"
         routerLinkActive="is-active"
         [ngClass]="{'card--whiteAlt': day.mission && day.mission.texts | textLang, 'is-disabled u-bg-palette-g-3': !day.mission, 'is-selected': day.is_today }"
         [ngx-scroll-to]="'calendar-writer'">
      <h1 class="u-text-grey u-leading-normal" [ngClass]="{'u-text-primary': day.has_writing}">
        {{ day.datekey | datekey2date | date:'d' }}
        <span *ngIf="day.mission && day.mission.texts | textLang" class="hlp-day">{{ day.datekey | datekey2date | date:'LLL' }}</span>
      </h1>
      <p class="u-leading-tight u-text-grey u-text-sm"
         *ngIf="day.mission && (day.mission.texts | textLang)">{{ day.mission.texts | textLang }}</p>
    </div>
  </div>
</div>
