<h2 class="u-text-tertiary u-text-center u-leading-normal u-pt-4">
	<!-- <span class="u-text-tertiary"><i class="icon icon--th"></i></span><br /> -->
	Relevez le défi !
</h2>
<p class="u-text-center u-text-grey">
	Entraînez votre créativité avec des défis d'écriture quotidiens.<br />
	Découvrez, ci-dessous, celui d'aujourd'hui !
</p>

<div class="u-relative u-my-8">
	<dw-calendar></dw-calendar>
</div>

<!-- <section class="theme--whiteAlt u-p-8">

	<div class="layout--document u-text-center">
		<h1>Vos duels</h1>
		<p>Vous n'avez pas de duels en cours</p>
		<p><button class="btn btn--alt">Lancer un duel d'écriture</button></p>
	</div>

</section>

<section class="theme--secondary u-p-8">

	<h1 class="u-text-center u-pt-8">Duels en cours</h1>

	<div class="layout--grid u-container u-mx-auto u-py-4">
		<div class="u-p-2 u-w-1/3">
			<div class="card card--white u-cursor-pointer">
				<h2 class="has-quotes u-text-center u-p-4">A ces mots, il se leva et quitta la pièce en courant.</h2>
				<div class="theme--grey u-clearfix">
					<div class="u-p-4 u-w-1/2 u-float-left">
						<h3 class="u-pb-2">Florent hobein</h3>
						<p class="u-text-sm">La porte d'entrée ne lui fit pas résistance, pas plus que les étages...</p>
					</div>
					<div class="u-p-4 u-w-1/2 u-float-left">
						<h3 class="u-pb-2">Florent hobein</h3>
						<p class="u-text-sm">La porte d'entrée ne lui fit pas résistance, pas plus que les étages...</p>
					</div>
				</div>
			</div>
		</div>
		<div class="u-p-2 u-w-1/3">
			<div class="card card--white u-cursor-pointer">
				<h2 class="has-quotes u-text-center u-p-4">Je n’avais jamais pu me contenter d’une seule vie.</h2>
				<div class="theme--grey u-clearfix">
					<div class="u-p-4 u-w-1/2 u-float-left">
						<h3 class="u-pb-2">Florent hobein</h3>
						<p class="u-text-sm">La porte d'entrée ne lui fit pas résistance, pas plus que les étages...</p>
					</div>
					<div class="u-p-4 u-w-1/2 u-float-left">
						<h3 class="u-pb-2">Florent hobein</h3>
						<p class="u-text-sm">La porte d'entrée ne lui fit pas résistance, pas plus que les étages...</p>
					</div>
				</div>
			</div>
		</div>
		<div class="u-p-2 u-w-1/3">
			<div class="card card--white u-cursor-pointer">
				<h2 class="has-quotes u-text-center u-p-4">Je n’avais jamais pu me contenter d’une seule vie.</h2>
				<div class="theme--grey u-clearfix">
					<div class="u-p-4 u-w-1/2 u-float-left">
						<h3 class="u-pb-2">Florent hobein</h3>
						<p class="u-text-sm">La porte d'entrée ne lui fit pas résistance, pas plus que les étages...</p>
					</div>
					<div class="u-p-4 u-w-1/2 u-float-left">
						<h3 class="u-pb-2">Florent hobein</h3>
						<p class="u-text-sm">La porte d'entrée ne lui fit pas résistance, pas plus que les étages...</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="layout--document u-text-center">
		<p><button class="btn btn--alt">Voir tous les duels</button></p>
	</div>

</section> -->

<footer class="theme--black u-p-16 u-text-center">
	Fait avec <i class="icon icon--heart u-text-tertiary"></i> par <a href="//florent.hobein.fr" target="_blank" rel="noopener">Florent Hobein</a>
</footer>
